<section class="page__aboutme" id="aboutme">
   <div class="wrapper">
      <div class="icons-container">
         <a href="https://www.linkedin.com/in/celiagutierrezmartin/" target="_blank"><i class="fab fa-linkedin"></i></a>
         <a href="https://github.com/celiagmar" target="_blank"><i class="fab fa-github-square"></i></a>
      </div>
      <div class="about-container">
         <h3>Celia Gutiérrez - Front End Developer</h3>
         <p class="about-text">Hi! If you have arrived here, you deserve to know something else about me  😃. <br> I am a committed and passionated front end developer, that is always looking for new challenges. I always try to enjoy what I do and have fun with it, because think that a positive mood increase productivity and improves the work environment. <br>As a junior developer, I keep studying on my own and training myself in order to be able to contribute as much as possible to the company that hires me. <br> What am I looking for? A job position where continue learning to grow professionally and develop myself. <br> What I offer? My best! A great desire to learn, total commitment and a excellent team spirit.</p>
         <h5 class="closing-text">Let's work together!</h5>
         <p class="cv-text">More about me? Download my CV <a class="link" download href="./assets/images/cv.jpg" class="cv-link">Here</a></p>
         <a href="#header"><i class="fas fa-chevron-circle-up up-icon"></i></a>
      </div>
   </div>
</section>