<section class="page__aboutme" id="aboutme">
   <div class="wrapper">
      <div class="icons-container">
         <a href="https://www.linkedin.com/in/celiagutierrezmartin/" target="_blank"><i class="fab fa-linkedin"></i></a>
         <a href="https://github.com/celiagmar" target="_blank"><i class="fab fa-github-square"></i></a>
      </div>
      <div class="about-container">
         <h3>Celia Gutiérrez - Front End Developer</h3>
         <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo rem ut cupiditate. Aperiam omnis tenetur excepturi suscipit veniam dicta, deserunt rerum repudiandae, fuga maxime iste dolorem, inventore mollitia odio exercitationem.</p>
         <h5 class="closing-text">Let's work together!</h5>
         <p class="cv-text">More about me? Download my CV <a class="link" download href="./assets/images/cv.jpg" class="cv-link">Here</a></p>
         <a href="#header"><i class="fas fa-chevron-circle-up up-icon"></i></a>
      </div>
   </div>
</section>