<section class="page__contact" id="contact">
   <div class="wrapper">
      <div class="form-container">
         <h2 class="title-contact">Contact Me</h2>
         <form action="https://formspree.io/celiagm82@gmail.com" class="form-contact" method="POST">
            <input type="text" class="input-name" name="name" placeholder="Name" required/>
            <input type="email" class="input-email" name="email" placeholder="Email" required/>
            <textarea type="text" class="message-text" name="message" placeholder="Type your message here..."></textarea>
            <button class="submit-btn" type="submit">Send</button>
         </form>
      </div>   
   </div>
</section>
