<header class="page__header" id="header">
  <div class="menu-container">
    <nav class="menu">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="#main">Projects</a></li>
        <li><a href="#aboutme">About Me</a></li>
        <li class="last"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="wrapper">
    <div class="header-container">
      <h1>Hello;</h1>
      <h2 class="name"><i class="fas fa-angle-left"></i>Celia Gutiérrez/></h2>
      <h2 class="job"><i class="fas fa-angle-left"></i>Front End Developer/></h2>
      <a href="#footer"><i class="fas fa-chevron-circle-down down"></i></a>
    </div>
  </div>
</header>
