<main class="page__mainbis">
   <div class="wrapper">
      <div class="main1-container">
         <a href="./index.html"><button class="back"><i class="fas fa-angle-left"></i> Back</button></a>
         <h3>Guess the number</h3>
         <p class="project-description"><strong>JavaScript - CSS.</strong> <br>Development of a JavaScript game that consist of guessing a number between 1 and 100 in the lower number of tries. The game gives you clues for help with each try.</p>
         <div class="project1-img">
            <img src="./assets/images/guess.png" alt="Project 9 Image">
         </div>
         <div class="link-icons">
            <a href="http://beta.adalab.es/modulo-2-evaluacion-intermedia-Celiagm82/" target="_blanck"><i class="fas fa-desktop"></i></a>
            <a href="https://github.com/celiagmar/modulo-2-evaluacion-intermedia-Celiagm82" target="_blanck"><i class="fas fa-code"></i></a>
         </div>
      </div>
   </div>
</main>