<main class="page__mainbis">
   <div class="wrapper">
      <div class="main1-container">
         <a href="./index.html"><button class="back"><i class="fas fa-angle-left"></i> Back</button></a>
         <h3>Buscador de series</h3>
         <p class="project-description"><strong>JavaScript - APIs - HTML - SASS.</strong> <br>Development of a JavaScript app that creates interactive profile cards that you can personalize and share by Twitter.</p>
         <div class="project1-img">
            <img src="./assets/images/series.png" alt="Project 10 Image">
         </div>
         <div class="link-icons">
            <a href="http://beta.adalab.es/modulo-2-evaluacion-final-Celiagm82/" target="_blanck"><i class="fas fa-desktop"></i></a>
            <a href="https://github.com/celiagmar/modulo-2-evaluacion-final-Celiagm82" target="_blanck"><i class="fas fa-code"></i></a>
         </div>
      </div>
   </div>
</main>