<main class="page__mainbis">
   <div class="wrapper">
      <div class="main1-container">
         <a href="./index.html"><button class="back"><i class="fas fa-angle-left"></i> Back</button></a>
         <h3>Anonymous Proxy</h3>
         <p class="project-description"><strong>Layout: HTML - SASS.</strong> <br>Development of a responsive website, following the guidelines and a design given through Zeplin</p>
         <div class="project1-img">
            <img src="./assets/images/anonimous.png" alt="Project 1 Image">
         </div>
         <div class="link-icons">
            <a href="http://beta.adalab.es/modulo-1-evaluacion-final-Celiagm82/" target="_blanck"><i class="fas fa-desktop"></i></a>
            <a href="https://github.com/celiagmar/modulo-1-evaluacion-final-Celiagm82" target="_blanck"><i class="fas fa-code"></i></a>
         </div>
      </div>
   </div>
</main>