<main class="page__mainbis">
   <div class="wrapper">
      <div class="main1-container">
         <a href="./index.html"><button class="back"><i class="fas fa-angle-left"></i> Back</button></a>
         <h3>Shekies</h3>
         <p class="project-description"><strong>Layout: HTML - SASS.</strong> <br>Development of a group responsive website, with some interactions, following the guidelines and a design given through Zeplin</p>
         <div class="project1-img">
            <img src="./assets/images/shekies.png" alt="Project 6 Image">
         </div>
         <div class="link-icons">
            <a href="http://beta.adalab.es/project-promo-i-module-1-team-4-afternoon/" target="_blanck"><i class="fas fa-desktop"></i></a>
            <a href="https://github.com/celiagmar/Web-grupal-by-Sheckies" target="_blanck"><i class="fas fa-code"></i></a>
         </div>
      </div>
   </div>
</main>