<main class="page__main" id="main">
  <div class="hero">
    <div class="img-container project-1 medium"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-2"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-3"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-4"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-5 medium"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-6 large"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-7 large"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-8"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-9"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-10 medium"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-11 vertical"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-12 vertical"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
    <div class="img-container project-13 large"><a href="#"><img src="./assets/images/yellow.jpg" alt="yellow desk"></a></div>
  </div>
</main>
