<main class="page__main" id="main">
  <div class="title-main">
    <h2>My projects</h2>
  </div>
  <div class="hero">
    <div class="img-container project-1 medium"><a href="./project1.html"><img src="./assets/images/anonimous.png" alt="Project 1 Image"></a></div>
    <div class="img-container project-2"><a href="./project2.html"><img src="./assets/images/portfol.png" alt=" Project 2 Image"></a></div>
    <div class="img-container project-3"><a href="#"><img src="./assets/images/have.png" alt=""></a></div>
    <div class="img-container project-4"><a href="#"><img src="./assets/images/look.png" alt=""></a></div>
    <div class="img-container project-5 medium"><a href="./project5.html"><img src="./assets/images/pokemons.png" alt="Project 5 Image"></a></div>
    <div class="img-container project-6 large"><a href="./project6.html"><img src="./assets/images/shekies.png" alt="Project 6 Image"></a></div>
    <div class="img-container project-7 large"><a href="./project7.html"><img src="./assets/images/rick.png" alt="Project 7 Image"></a></div>
    <div class="img-container project-8"><a href="./project8.html"><img src="./assets/images/4loops.png" alt="Project 8 Image"></a></div>
    <div class="img-container project-9"><a href="./project9.html"><img src="./assets/images/guess.png" alt="Project 9 Image"></a></div>
    <div class="img-container project-10 medium"><a href="./project10.html"><img src="./assets/images/series.png" alt="Project 10 Image"></a></div>
    <div class="img-container project-11 vertical"><a href="#"><img src="./assets/images/thank.png" alt=""></a></div>
    <div class="img-container project-12 vertical"><a href="#"><img src="./assets/images/you.png" alt=""></a></div>
    <div class="img-container project-13 large"><a href="./project13.html"><img src="./assets/images/arrayadas.png" alt="Project 13 Image"></a></div>
  </div>
</main>
