<main class="page__mainbis">
   <div class="wrapper">
      <div class="main1-container">
         <a href="./index.html"><button class="back"><i class="fas fa-angle-left"></i> Back</button></a>
         <h3>Awesome Profile Cards by 4Loops!</h3>
         <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque atque nisi voluptatibus quod veritatis, tempore debitis itaque dicta. Voluptates nulla explicabo amet, repellendus error sint quos ullam delectus fuga itaque.</p>
         <div class="project1-img">
            <img src="./assets/images/4loops.png" alt="Project 8 Image">
         </div>
         <div class="link-icons">
            <a href="http://beta.adalab.es/project-promo-i-module-2-team-1-afternoon/" target="_blanck"><i class="fas fa-desktop"></i></a>
            <a href="https://github.com/celiagmar/Awesome-Profile-Cards-by-4Loops" target="_blanck"><i class="fas fa-code"></i></a>
         </div>
      </div>
   </div>
</main>