<main class="page__mainbis">
   <div class="wrapper">
      <div class="main1-container">
         <a href="./index.html"><button class="back"><i class="fas fa-angle-left"></i> Back</button></a>
         <h3>Rick and Morty</h3>
         <p class="project-description"><strong>React - APIs - HTML - SASS.</strong> <br>Development of a React app with filters, asking for the characters of the animated tv show "Rick and Morty" to an API and rendering this characters with photo, descrition, powers, etc.</p>
         <div class="project1-img">
            <img src="./assets/images/rick.png" alt="Project 7 Image">
         </div>
         <div class="link-icons">
            <a href="http://beta.adalab.es/modulo-3-evaluacion-final-celiagmar/" target="_blanck"><i class="fas fa-desktop"></i></a>
            <a href="https://github.com/celiagmar/modulo-3-evaluacion-final-celiagmar" target="_blanck"><i class="fas fa-code"></i></a>
         </div>
      </div>
   </div>
</main>