<main class="page__main" id="main">
  <div class="title-main">
    <h2>Projects</h2>
  </div>
  <div class="hero">
    <div class="img-container project-1 medium"><a href="./project1.html"><img src="./assets/images/anonimous.png" alt="yellow desk"></a></div>
    <div class="img-container project-2"><a href="#"><img src="" alt=""></a></div>
    <div class="img-container project-3"><a href="#"><img src="" alt=""></a></div>
    <div class="img-container project-4"><a href="#"><img src="." alt=""></a></div>
    <div class="img-container project-5 medium"><a href="#"><img src="./assets/images/pokemons.png" alt="yellow desk"></a></div>
    <div class="img-container project-6 large"><a href="#"><img src="./assets/images/shekies.png" alt="yellow desk"></a></div>
    <div class="img-container project-7 large"><a href="#"><img src="./assets/images/rick.png" alt="yellow desk"></a></div>
    <div class="img-container project-8"><a href="#"><img src="./assets/images/4loops.png" alt="yellow desk"></a></div>
    <div class="img-container project-9"><a href="#"><img src="./assets/images/guess.png" alt=""></a></div>
    <div class="img-container project-10 medium"><a href="#"><img src="./assets/images/series.png" alt="yellow desk"></a></div>
    <div class="img-container project-11 vertical"><a href="#"><img src="" alt=""></a></div>
    <div class="img-container project-12 vertical"><a href="#"><img src="" alt=""></a></div>
    <div class="img-container project-13 large"><a href="#"><img src="./assets/images/arrayadas.png" alt="yellow desk"></a></div>
  </div>
</main>
