<main class="page__mainbis">
   <div class="wrapper">
      <div class="main1-container">
         <a href="./index.html"><button class="back"><i class="fas fa-angle-left"></i> Back</button></a>
         <h3>Refactorización de código a React by Arrayadas</h3>
         <p class="project-description"><strong>React - APIs - HTML - SASS.</strong> <br>The Awesome Profile Cards app, this time inherited for  its refactorization from JavaScript to React.</p>
         <div class="project1-img">
            <img src="./assets/images/arrayadas.png" alt="Project 13 Image">
         </div>
         <div class="link-icons">
            <a href="http://beta.adalab.es/project-promo-i-module-3-team-3-afternoon/" target="_blanck"><i class="fas fa-desktop"></i></a>
            <a href="https://github.com/celiagmar/React-App-inherited-code-by-Arrayadas" target="_blanck"><i class="fas fa-code"></i></a>
         </div>
      </div>
   </div>
</main>