<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Project 13</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <script src="https://kit.fontawesome.com/e84dd5efc5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Playfair+Display&family=Yantramanav:wght@300;400&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="page">
      <partial src="_headerbis.html" title="My Portfolio"></partial>
      <partial src="_main13.html" label="Main"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>

</html>