.page__footer {

   background-color: beige;

   @media all and (min-width:768px) {
      height: 10vh;
   }
   
   .footer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .footer-text {
         text-align: center;
         padding: 30px;
         font-family: 'Catamaran', sans-serif;
         
         @media all and (min-width:768px) {
            padding: 20px;
         }
      }
   }
}